.idea/
.cache/
.pytest_cache/
__pycache__/

*.lock
*.log

**/.html/
**/.report/
**/.screenrecords/
**/.screenshots/
**/assets/
**/report.html

resources/envconfig/*
resources/image/*
resources/paddleocr/*
resources/webdrive/*
!resources/envconfig/template.yaml
!resources/image/default.jpg
!resources/paddleocr/README.md
!resources/webdrive/README.md
